@use '../assets/assets' as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;

    &__line {
        display: none;
        height: 1px;
        background-color: var(--color-dos);
        width: 100%;
        @include trans();
    }

    &__title {
        font-weight: $bold;
        font-size: 28px;
        @include trans();
    }

    &__text {
        color: var(--color-dos);
        @include trans();
        margin: 2px 0 0;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__text-mode {
        color: var(--color-dos);
        font-weight: $bold;
        @include trans();
    }

    &__toggle {
        width: 60px;
        height: 30px;
        border-radius: 100px;
        background-image: var(--toggle);
        position: relative;
        transition: filter .2s ease;
        cursor: pointer;
        &:hover {
            @media (hover:hover){
                filter: brightness(var(--brillo));
            }
        }

        &.nav__toggle--active .nav__circle{
            transform: translateX(calc(60px - 30px));
        }
    }

    &__circle {
        width: auto;
        height: 24px;
        top: 3px;
        left: 3px;
        aspect-ratio: 1;
        background-color: var(--fondo-card);
        position: absolute;
        border-radius: 50%;
        transition: transform .2s ease;
    }

}

@mixin nav-mobile() {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        &__line {
            display: block;
        }

        &__title {
            font-size: 24px;
        }

        &__box{
            width: 100%;
            justify-content: space-between;
        }
    }
}